<!DOCTYPE html>
<html lang="en" ng-app="shoppingcart">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!--Angularjs-->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<script type="text/javascript" src="js/service.js"></script>
	
	<title>Shopping Cart</title>
	<script type="text/javascript">

	</script>

	<style type="text/css">
	div#frame{width: 1000px; border: 1px solid #ddd; border-radius: 5px; padding: 10px 12px; margin: 10px auto;}
	span.head{font-size: 22px;}
	span.text{font-size: 18px; margin: 5px 0px 0px 5px;}
	div#add_product input{float: left; width: 500px; margin-bottom: 10px;}
	div.clean{clear: both;}
	div#product{border: 1px solid #ddd; margin: 30px 0px 0px 0px; padding: 10px 13px; border-radius: 5px;}
	</style>

</head>
<body  ng-controller="addCtrl">
	<div id="frame">

			<div class="cur">
				<b>Euro = 3.32</b>
				<b>Dollar = 2.93</b>
			</div>
			<div class="clean"></div>
		<div id="add_product">
			<span class="head">Add to Products</span>
				<div class="clean"></div>
			<input type="number" class="form-control" placeholder="Number of Product" ng-model="product_number" />
			<div class="clean"></div>
			<input type="text" class="form-control" placeholder="Name of Product" ng-model="product_name" />
			<div class="clean"></div>
			<input type="number" class="form-control" placeholder="Price of Product" ng-model="product_price" />

			<select ng-model="currency" class="btn" style="border: 1px solid #ddd; margin-left: 10px; margin-top: 2px;">
				<option value="Dollar" >$</option>
				<option value="Euro" >€</option>
			</select>

			<div class="clean"></div>
			<button class="btn btn-default" ng-click="addItem()">Add to Product</button>
		</div>
		<div class="clean"></div>

		<div id="product">
			<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Products</div>


				  <!-- Table -->
				  <table class="table">
					  <tr>
						  <td><b>&emsp;&nbsp;&nbsp;&nbsp;Number</b></td>
						  <td><b>Pieces</b></td>
						  <td><b>Name</b></td>
						  <td><b>Price</b></td>
					  </tr>
					  <tr ng-repeat="item in items">
						  <td>&emsp;&nbsp;&nbsp;&nbsp;#{{item.number}}</td>
						  <td></td>
						  <td>{{item.name}}</td>
						  <td>{{item.price}} {{item.currency}}</td>
						  <td><button class="btn btn-default" ng-click="addmyitems(item)"> + </button></td>
					  </tr>
				  </table>
				</div>
				<div id="shpping_cart">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">Shopping Cart</div>

						<!-- Table -->
						<table class="table">
							<tr>
								<td><b>&emsp;&nbsp;&nbsp;&nbsp;Name</b></td>
								<td><b>Pieces</b></td>
								<td><b>Price</b></td>
								<td><b>Total</b></td>
							</tr>
							<tr ng-repeat="myitem in myitems">
								<td>&emsp;&nbsp;&nbsp;&nbsp;{{myitem.name}}</td>
								<td>{{myitem.count}}</td>
								<td>{{myitem.price}} {{myitem.currency}}</td>
								<td> <b>{{myitem.count * myitem.price}} {{myitem.currency}}</b></td>
							</tr>



						<tr>
						<td></td>
						<td></td>
						<td><b>Total: </b></td>
						<td>{{ total }} ₺</td></tr>
						</table>
						<button class="btn btn-default" style="float: right;">PayPal</button>
						<button class="btn btn-default" style="float: right;">Buy</button>
					</div>
				</div>
		</div> <!-- /product -->
	</div> <!-- /frame -->
</body>
</html>